.nav-link:hover{
  background-color: cadetblue;
  cursor: pointer;
  color: beige;
  border-radius: .5em;
}
.navbar-light{
  background-color: rgba(0, 0, 0, 0.204) !important;
}
.section1{
  height: 70vh !important;
}
.myimage{
  height: 65vh !important;
  object-fit: cover !important;

}
.welcomeBtn{
  border-radius: 1em !important;
  border: none;
  height: 2em;
  width: 8em;
  color: bisque;
  font-size: 15px;
  font-weight: bold;
}
.notes{
  font-size: 48px !important;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bolder;
  color: black;
}
.secttwoimages{
  width: 50vh;
  height: 60vh;
  object-fit: cover;
  border-radius: 1em !important;
  margin-top: .5em;
}
.cards{
  display: flex !important;
  justify-content: center;
  align-items: center;

  gap: 1em;

}

.card{
  border-radius: 2em!important;
  margin-top: 1em;
  align-items: center;
  margin-right: 4em;
  margin-bottom: 1em;
  text-align: center;
}

.secttwoimages:hover{
  box-shadow: 10px 10px 5px 12px lightblue !important;
}
.bg-success{
  background-color: rgb(214, 206, 195) !important;

}
.restbody{
  background-color: lightyellow;
}
.bg-darksalmon{
  background-color: transparent !important;
}

.restcards{
  border-radius: 2em!important;
  margin-top: 1em;
  align-items: center;
  margin-right: 4em;
  margin-bottom: 1.5em;
  text-align: center;
  background-color: lemonchiffon;
}

.restimages{
  border-radius: 2em!important;
  margin-top: 1em;
  align-items: center;
  /* margin-bottom: 1em; */
  text-align: center;
  width: 95%;
}

.restimages{
  box-shadow: 10px 10px 5px 2px lightsalmon !important;
}
.viewBtn{
  border: none !important;
  background-color:crimson;
  color:antiquewhite;
  border-radius: .5em;
  width: 6em;
  height: 3em;
  font-weight: bold;
}
.viewBtn:hover{
  cursor: pointer;
  background-color:chartreuse;
  color: black;
  box-shadow: 8px 8px 3px   hotpink !important;
}
.pizzaimg{
  box-shadow: 10px 10px 5px 2px lightcoral !important;
  width: 70vh;
  margin-bottom: 2em;
  border-radius: 2em;
  object-fit: cover;
}

.addBtn{
  border: none !important;
  background-color:rgb(107, 168, 15);
  color:antiquewhite;
  border-radius: .5em;
  width: 6em;
  height: 3em;
  font-weight: bold;
  float: right;
  margin-right: -5em;
}

.deleteBtn{
  border: none !important;
  background-color:rgb(242, 10, 10);
  color:antiquewhite;
  border-radius: .5em;
  width: 6em;
  height: 3em;
  font-weight: bold;
  float: left;
  margin-left: -5em;
}
.imageselect{
  width: 12em !important;
}

.submitBtn{
  border: none !important;
  background-color:rgb(7, 160, 19);
  color:antiquewhite;
  border-radius: .5em;
  width: 12em;
  height: 4em;
  font-weight: bold;
  align-items: center;
  
}